<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Bekleyen Gönderiler</a>
                </li>
                <li>
                    <a href="#">Kullanıcılar</a>
                </li>
                <li>
                    <a href="#">Yorumlanmış</a>
                </li>
                <li>
                    <a href="#">Silinmiş</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</div>
<!-- End Sidebar -->
