<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WhatTheFood</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Kayıt ol</h3>
                </div>
                <div class="panel-body">
                    <form name="registerForm" role="form" ng-submit="register(user)">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Eposta adresi" type="email" name="email"
                                       ng-model="user.email" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Parola" name="password" type="password"
                                       ng-model="user.password" value="" required>
                            </div>
                            <div class="check-element animate-show text-center {{msg.textColor}}" ng-show="msg.show">
                                {{msg.text}}
                            </div>
                            <button type="submit" class="btn btn-lg btn-danger btn-block">Kayıt ol</button>
                            </br>
                            <div class=" text-center">
                                <a href="#/login">Zaten bir üyeliğim var</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
