<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer text-center">
        <h3 class="text-info"><b>Mutfağında çeşitli malzemeler var fakat ne yemek yapacağını bilmiyor musun ?</b>
        </h3>

        <p class="text-info"><b class="label label-danger">WhatTheFood</b> senin için en uygun tarifleri bulur.</p>

        <div class="row">

            <!-- /.col-lg-6 -->
            <div class="col-lg-8 col-lg-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="tavuk,tel şehriye,patates,çikolata,dondurma">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" ng-click="search(searchText)">Tarifleri Bul</button>
      </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <small class="text-info">aramak istediğiniz malzemeleri örnektegi gibi virgül ile ayırınız</small>
        <!-- /.row -->
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>{{searchedFoods ? "Arama Sonuçları": "Son eklenen tarifler"}}</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="food in (searchedFoods || latestFoods)">
            <div class="thumbnail">
                <a href="#/food/{{food.food_id}}">
                    <img src="http://lorempixel.com/400/200/food/{{food.food_id%10}}" alt="">
                </a>

                <div class="caption" style="height:150px;max-height: 150px;text-overflow: ellipsis;overflow: hidden;">
                    <h3><b class="text-danger" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{food.name}}</b></h3>

                    <p class="small">{{food.description}}</pre></p>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>