<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer text-center">
        <h3 class="text-info"><b>Mutfağında çeşitli malzemeler var fakat ne yemek yapacağını bilmiyor musun ?</b>
        </h3>

        <p class="text-info"><b class="label label-danger">WhatTheFood</b> senin için en uygun tarifleri bulur.</p>

        <div class="row">

            <!-- /.col-lg-6 -->
            <div class="col-lg-8 col-lg-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="tavuk,tel şehriye,patates,çikolata,dondurma">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">Tarifleri Bul</button>
      </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <small class="text-info">aramak istediğiniz malzemeleri örnektegi gibi virgül ile ayırınız</small>
        <!-- /.row -->
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Son eklenen tarifler</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="food in latestFoods">
            <div class="thumbnail">
                <img src="http://lorempixel.com/400/200/food/{{food.food_id}}" alt="">

                <div class="caption">
                    <h3>{{food.name}}</h3>

                    <p>{{food.description | limitTo: 120 }}{{food.description.length > 120 ? '...' : ''}}</p>

                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More
                        Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>