<div class="container">

    <!-- Jumbotron Header -->
    <div class="row " ng-init="getCategories()">
        <div class="col-lg-6 col-lg-offset-3 well">

            <form role="form">

                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedCategoryName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="category in categories"><a style="cursor:pointer;"
                                                                      ng-click="setCategory(category)">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" class="form-control" id="name" ng-model="newFood.name"
                           placeholder="Yemek adını giriniz" required>
                </div>
                <!-- /input-group -->
                <hr>

                <div class="form-group">
                    <label for="description" class="label label-danger">Malzemeler</label>
                    <pre>{{newFood.materials || 'Malzeme ekleyiniz !'}}</pre>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-keypress="($event.charCode==13)?(addMaterial(material)):return" ng-model="material"
                           placeholder="Malzeme bilgisi giriniz">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="addMaterial(material);material=''" type="button">
                            Malzemeyi Ekle
                        </button>
                    </span>
                </div>
                <hr>
                <div class="form-group">
                    <label for="description" class="label label-danger">Yemeğin Yapılışı</label>
                    <textarea class="form-control" rows="5" id="description" ng-model="newFood.description" required></textarea>
                </div>
                <button type="button" class="btn btn-danger btn-block" ng-click="saveFood()">Tarifi Kaydet</button>
            </form>

        </div>

    </div>

</div>