<div class="container">

    <!-- Jumbotron Header -->
    <div class="row " ng-init="food = detail()">
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="http://lorempixel.com/400/400/food" alt="">
            </div>
        </div>
        <div class="col-lg-9">
            <h2><b>{{food.name}}</b></h2>

            <b class="label label-danger">Malzemeler</b>
            <pre>{{food.materials}}</pre>

            <b class="label label-danger">Hazırlanışı</b>

            <p class="well">{{food.description}}</p>
        </div>
    </div>

</div>