<div class="container" ng-init="getFoodsFromCategoryId()">

    <!-- Jumbotron Header -->
    <div class="row">
        <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="food in foods">
            <div class="thumbnail">
                <a href="#/food/{{food.food_id}}">
                    <img src="http://lorempixel.com/400/200/food/{{food.food_id%10}}" alt="">
                </a>

                <div class="caption" style="height:150px;max-height: 150px;text-overflow: ellipsis;overflow: hidden;">
                    <h3><b class="text-danger" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{food.name}}</b></h3>

                    <p class="small">{{food.description}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <a class="btn btn-danger" style="cursor:pointer" ng-hide="isLastPage" ng-click="getFoodsFromCategoryId()"> Daha fazla göster</a>
    </div>

</div>